body{
     font-family: "Montserrat", sans-serif;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block ;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding:  30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover{ /*quando passa o cursos por cima do elemento*/  
    border-color: #c78c19;
}

.produtos li:active{ /*active quando clica */
    border-color:#088C19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}


.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px ;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    padding: 20px 0 0;
}

form{
    margin: 40px 0 ;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
   width: 40%;
   padding: 15px 0;
   background-color: orange; 
   color: white;
   font-weight: bold;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   transition: 1s all; /* demora um segunda para transformar a cor qnd o usuário passa o mouse*/
   cursor: pointer; /* cursor vira a mãozinha para clicar*/
}

.enviar:hoover{
    background-color: darkorange;
    transform: scale(1.2);  /* aumenta o tamanho dos elementos*/
    /* transform: rotate();  inclina o elemento */
}

table {
    margin: 20px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* css da pagina inicial*/
.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em ;  /* em = fonte padrão. 2em duplica o tamanho*/
    margin:  0 0 1em;
    clear: left ; /* limpa o float para que ele não pegue no elemento*/
}

.principal{
    padding: 3em 0;
    background: #fefefe ;
    width: 940px;
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left; /* faz com que os elementos 'ignorem' a imagem mas não a sobreponham*/
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe,  #888888 ) ; /* degrade de cores */
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.imgmapa{
    width: 940px;
    margin: 0 auto;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
}

.conteudo{
    width: 640px;
    margin: 0 auto;
}

.lista{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5em;
}

.itens:before{
    content: "★";
}

.itens:first-child{ /* itens: nth-child() - escolhe a posição do elemento que quer mudar*/
    font-weight: bold;
}

.imgb{
    width: 60%;
    box-shadow: 15px 15px 15px black;
}

.video{
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px){ /* pergunta ao navegador quantos px tem na tela do usuario e se for menor q 480, edita. responsividade celular*/
    .caixa, .principal, .conteudo, .imgmapa, .video{
        width: auto;
    }

    h1, form, .input-padrao{
        text-align: center;
        display: inline-block;
        justify-content: center; 
    }

    .produtos {
        width: 100%;
        padding: 20px;
    }
    .produtos li {
        display: block;       /* empilha os produtos */
        width: 80%;           /* define uma largura agradável */
        margin: 20px auto;    /* centraliza e dá espaçamento */
    }

    .responsavidade{
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    nav{
        position: static;
    }

    .lista, .imgb{
        width: 100%;
    }
}



/* 
postion = Para mudar a posição do ponto inicial que ele se encontra em relaçao a pagina
unicode- linguagem universal que serve para representar alguns simbolos
*/